            * {
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
            }
            
            body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .pepsi-content {
                margin: auto;
            }
            
            .pepsi-content img {
                float: right;
            }